# Database connection for Drizzle Migrations
# Found in Dashboard -> Connection Details (Pooled)
DATABASE_URL="postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require&channel_binding=require"

# Public variables for the React App
VITE_NEON_DATA_API_URL="https://ep-xxx.neon.tech/neondb/rest/v1"
VITE_NEON_AUTH_URL="https://ep-xxx.neon.tech/neondb/auth"